@charset "UTF-8";
/*
Paleta de cores
#2AFFAA;
#31FFD1;
#2CEAF0;
#2FCFF5;
#2BB7E6;
*/
:root{
--cor1:#2AFFAA;
--cor2:#31FFD1;
--cor3:#2CEAF0;
--cor4:#2FCFF5;
--cor5:#2BB7E6;}
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body, html{
    background-color: #2BB7E6;
    height: 100vh;
    width: 100vw;
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px #24272298;

    transition: width .2s, height .3s;
    transition-timing-function: ease;
}
section#login > div#imagem{
    display: block;
    background: #2BB7E6 url(../imagens/pexels-shihao-xiang.jpg);
    height: 200px;
    background-size: cover;
    background-position: center center;
}

section#login > div#formulario{
    display: block;
    padding: 10px;
}